/* COMMON */

.jumbotron{
    background-color: #b1786f;
}

/* BASE */

body{
    margin: 0;
    background-color: #edeae2;
    min-height: 50vh;
    height: 100%;
}

hr {
    border: 0;
    clear:both;
    display:block;
    width: 100%;               
    background-color:#000;
    height: 1px;
}



/* BASE 2 with nav */

.nav-header-2{
    background: url('css_img\\bar.png') repeat-x;
    margin-bottom: 0px;
    max-height: 10%;
}

.end-nav{
    margin: 0% 0%;
    margin-top: -1%;
    padding: 0%;
    margin-top: -1%;
    border-bottom: 1.5px solid #6d6d6d; 
}

.navbar {
    overflow: hidden;
    width: 50%;
    margin: 0% 45%;
    margin-top:-4%;
    padding-left: 5%;
    font-family: 'Noto Sans JP', sans-serif;
}

/* Style the links inside the navigation bar */
.navbar a {
    display: inline-block;
    text-align: right;
    color: black;
    text-align: center;
    padding: 6px 20px 2px 20px;
    border-bottom: 4px solid transparent;
    text-decoration: none;
    color: #000;
    font-size: 15px;
    font-family: 'Noto Sans JP', sans-serif;
}

.navbar a:hover{
    border-bottom: 4px solid #9e665d;
    background: none;
}

.main-body{
    margin: 1% 9%;
    width: 91%;
}


.session-info{
    font-size: 17px;
    font-weight: 500;
    font-family: 'Noto Sans JP', sans-serif;
}


/* PAGE HEADER */

.nav-header{
    background: url('css_img\\bar.png') repeat-x;
    margin-bottom: 0px;
    border-bottom: 1.5px solid #6d6d6d; 
    max-height: 10vh;
}

.nav-sitetitle{
    width: 50%;
    font-size: 28px;
    font-weight: 600;
    line-height: 0;
    display: flex;
    margin: 0;
}

.nav-label{
    width:230px;
    height:50px;
    font-family: 'Poppins', sans-serif;
    color: black;
}

.nav-label:hover{
    color: white;
}



/* PAGE FOOTER */

.page-footer {
    background: #9e665d;
    margin: 0% 0% 0% 0% ;
    margin-top: 10%;
}

.page-footer{
    position: relative;
    bottom: 0;
    width: 100%;
    height: 30%;
    margin-top: 30%;
    background: #9e665d;    
}

.footer-container {
    padding: 5% 4%;
}

/* コピーライト */
.copyright {
    font-size: 1.2rem;
    color:  #d8d8d8;
    text-align: center;
    margin: 0 10% 0 10%;
}







/* LOGIN */ 

.signin-title{
    font-size: 24px;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    margin-top: 5%;
    margin-bottom: 0px;
    
}

.fj{
    width: 50%;
    margin: 0% 25%;
    background-color: #edeae2;
    padding: 1% 0%;
}


.signin-form-username-label{
    margin: 0% 10%;
    margin-bottom: 3%;
    font-size: 15px;
    font-weight: bold;
    font-family: 'Noto Sans JP', sans-serif;
}

.signin-form-username{
    height: 44px;
    border: none;
    border-radius: 3px;
    font-family: 'Noto Sans JP', sans-serif;
    padding: 1px 2px;
    width: 80%;
    margin: 0% 10%;
    margin-bottom: 2%;
    padding: 2%;
}

.signin-form-username:focus{
    border: 2px solid black;
}


.signin-form-password-label{
    margin: 0% 10%;
    margin-bottom: 3%;
    font-size: 15px;
    font-weight: bold;
    font-family: 'Noto Sans JP', sans-serif;
}

.signin-form-password{
    min-height: 44px;
    border: none;
    border-radius: 3px;
    font-family: 'Noto Sans JP', sans-serif;
    padding: 1px 2px;
    width: 80%;
    margin: 0% 10%;
    margin-bottom: 2%;
    padding: 2%;
}

.login-login-button{
    margin: 0% 10%;
    margin-bottom: 3%;
    background-color: #9e665d;
    color: #edeae2;
    border: none;
    border-radius: 25px;
    width: 80%;
    height: 50px;
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 13px;
    font-weight: 700;
}


.login-password-change-button{
    margin: 0% 10%;
    margin-bottom: 3%;
    background-color: #fff;
    color: #9e665d;
    border: none;
    border-radius: 25px;
    width: 80%;
    height: 50px;
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 13px;
    font-weight: 700;
}

/* HOMEPAGE */

.homepage-content{
    margin-top: 50px;
}

.barcode-cam-button{
    margin-bottom: 20px;
}

.barcode-file-button{
    width: 40%;
}

.hyosat-cam-button{
    margin-bottom: 20px;;
}

/* CAM PAGE */

.cam-column{
    height: 520px;
    max-height: 520px;
    width: 50%;
    margin: 0%;
}

.cam-frame{
    height: 500px;
    max-height: 500px;
    min-width: 70%;
    margin: 10px 15%;
    background-color: black;
    border-radius:10px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.3) 0%,transparent 50%,transparent 50%,rgba(0,0,0,.1) 100%);
    box-shadow: 0px 0px 8px 3px rgba(158, 158, 158, 0.699) inset, 0px 0px 8px 3px rgba(255,255,255,.2) inset,2px 2px 2px 2px rgba(0,0,0,.1) inset;
    border: 1px solid rgba(0,0,0,.2); width: 60%; max-height: 480px; max-width: 360px; display: block;
}

.cam_submit_btn{
    margin: -37px 0% 2px 42%; 
    background-color: white;
    background-size:contain;
    width: 100%;
    height: 11%;
    max-width: 50px;
    max-height: 50px;
    border-radius:30px; 
    padding-top: 0; border: 2px solid #9c9c9c;
}

.cam-image{
    margin: 100px;
    width: 50%;
    height: 20px;
    margin: 2% 22.5% 0% 25%;
}

.cam-webcam-video{
    width:96%;
    height: 450px;
    margin-top: -20px;
    margin-left: 2%;
    margin-right: 2%;
    padding: 0%;
}

.shooting-guide-title1{
    font-weight: bold;
    margin: 0% 0% -2% 0%;
}

.shooting-guide-title2{
    font-weight: bold;
    margin: 0% 0% -2% 0%;
}

.shooting-guide-title2-header{
    font-weight: bold;
}

.shooting-guide-title2-content{
    margin-left: 10%;
}

.warning-text{
    font-family: 'Noto Sans JP', sans-serif;
    color: red;
    font-weight: bold;
}

.home-skip-button{
    width: 50%;
    margin: 2% 1%;
    margin-bottom: 3%;
    background-color: #9e665d;
    color: #edeae2;
    border: none;
    border-radius: 10px;
    height: 45px;
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 13px;
    font-weight: 700;
}

/* FULL SCREEN CAMERA  */

.full-camera-page-div{
    overflow-x: hidden;
    overflow-y: hidden;
    padding: 0%;
    margin: 0%;
    margin-left: -70px;
}

.full-camera-form{  
    margin-left: -20px;
}

.full-camera-form-div{
    background-color: black;
    border-radius:10px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.3) 0%,transparent 50%,transparent 50%,rgba(0,0,0,.1) 100%);
    box-shadow: 0px 0px 8px 3px rgba(158, 158, 158, 0.699) inset, 0px 0px 8px 3px rgba(255,255,255,.2) inset,2px 2px 2px 2px rgba(0,0,0,.1) inset;
    border: 1px solid rgba(0,0,0,.2);
    width: 100%; 
    max-height: 630px;
    max-width: 2500px;
    padding:20px;
    margin: 0%;
}

.full-camera-video-frame{
    width:80%;
    height:500px;
    margin: 2% 0%;
    max-width: 2000px;
    border-radius: 50px; 
}