<!DOCTYPE html>
{% extends "base_with_nav.html" %}
{% load static %}

{% block title %}

Homepage

{% endblock %}

{% block body %}

<div class="full-camera-page-div">

    <form action="?" method="POST" class="full-camera-form" enctype="multipart/form-data" onSubmit="return double()">
        <div class="full-camera-form-div">


        <!--<img class="image" src="./static/css/css_img/SmartPhon1.png" style="width: 55%; height: 8%; margin: 5% 22.5% 0px 22.5%;"><br>-->
        <video id="camera" autoplay playsinline class="full-camera-video-frame"></video>
        <!--シャッター-->
        <div id="indicator-target" class="indicator" style="height: 100%;">

        <div class="row">

            <div class="col-lg-8">

                <input type=submit value=""id='indicator' class="submit_btn" formaction="#" onclick="take_picture(),counter(),sound()" 
                style="margin: 0px 75%; margin-top: -20px  ;background-color: white; background-size:contain; width: 200px; height: 50px; max-width: 50px; max-height: 50px; border-radius:30px; 
                padding-top: 0; border: 2px solid #9c9c9c;">
            
        </div>

            <div class="col-lg-3">
                <button class="btn btn-danger" style="margin-top: -13px; width: 150px;" onclick="history.back()">キャンセルs</button>
            </div>
        
        </div>

        <canvas id="canvas" width="0px" height="0px" style="display: none;"></canvas>
        
        </div>
        
        <audio id="demo_sound" preload="auto">
            <source src="../static/audio/カメラのシャッター2.mp3" type="audio/mp3">
        </audio>

    <script>
        function sound() {
            var se = document.getElementById('demo_sound');
            se.play();
        }

        //カメラ用意
        var video = document.getElementById('camera');
        const se = document.querySelector('#se');
        
        // カメラ設定
        const constraints = {
        audio: false,
        video: {
            width: 800,
            height: 800,
            facingMode: "environment"   // フロントカメラを利用する⇒user
        }
        };

        //カメラを<video>と同期
        navigator.mediaDevices.getUserMedia(constraints)
        .then( (stream) => {
        video.srcObject = stream;
        video.onloadedmetadata = (e) => {
            video.play();  
        };
        })
        .catch( (err) => {
        console.log(err.name + ": " + err.message);
        });
        
        //カウンターファンクション
        var kaisu = 0;
        function counter() {
            var count = document.getElementById('count');
            var c = parseInt(count.value)
            if(c == 1){
            //Annnoyの類似画像出力の際にともに出力した撮影した写真を消す
            var hyoushi_img = document.getElementById('hyoushi_img');
            hyoushi_img.style.display ="none";
            count.value = ++c;
            }else{
            count.value = ++c;
            }
        }
            //撮影ファンクション
        function take_picture() {
            alert('enters')
        //videoのstreamをcanvasに書き出す方法
            var canvas = document.getElementById('canvas');
            var ctx = canvas.getContext('2d');
            //videoの縦幅横幅を取得
            var w = video.offsetWidth;
            var h = video.offsetHeight;
            canvas.setAttribute("width", w);
            canvas.setAttribute("height", h);
            ctx.drawImage(video, 0, 0, w, h);
    
        //canvasをimgに書き出し
        var img = document.getElementById('img_data');
        img.value = canvas.toDataURL('image/jpg');

            var w = 180;
            var h = 180;
            canvas.setAttribute("width", w);
            canvas.setAttribute("height", h);
            ctx.drawImage(video, 0, 0, w, h);

        }
</script>
<!--  -->
        <div style="margin-top: 0px;">
                <input type="text" id="count" name="count" value={{cameraclick}} style="display: none;" >
                <input type="text" id="img_data" name=img_data value=""  style="display: none;">
            </div>
        </div>

                {% if barcord %}
                <input type="text" id="barcord" name="barcord" value={{barcord}} style="display: none;" >
                {% endif %}
            </form>

{% endblock %}
