<!DOCTYPE html>
{% extends "base_with_nav.html" %}
{% load static %}

{% block title %}

Homepage

{% endblock %}

{% block body %}

{% if error_message %}

<div class="error_message">
  <p class="error_message_text"> {{error_message}} </p>
</div>

{% endif %}

<div class="row-lg-12 homepage-content">
    
    <div class="col-lg-5">

      <div class="jumbotron homepage-jumbo">

        <h4 class="shooting-guide-title2">撮影した写真</h4>
        <hr>

        <div class="barcode_preview">
          
          <h5 class="shooting-guide-title2-header">バーコード撮影:</h5><br>
            
          {% if productinstance.barcode_image %}
          
            <div>
              <img src="{{productinstance.barcode_image.url}}" class="barcode_upload_preview" alt="broken barcode">
              <a href=" {% url 'homepage:remove_barcode' %} "> <button class="btn btn-danger barcode_upload_delete"> 削除 </button> </a>
            </div>
          
          {% else %}
          
            <div class="row">
              
              <div class="col-lg-6">
                <p class="shooting-guide-title2-content"> イメージなし </p>
              </div>
              
              <div class="col-lg-6">
              
                <a href=" {% url 'homepage:camera' 'barcode' %} "> <button class="btn btn-primary barcode-cam-button"> <i class="fas fa-camera"></i> バーコードカメラ </button> </a>
                <input type="file" name="barcode-image-input" id="barcode-file">
              
              </div>
            
            </div>
            
            
          {% endif %}
        
        </div>

        <br><hr><br>

        <div class="Hyoshi_satsuei_preview">
          
          <h5 class="shooting-guide-title2-header">表紙撮影:</h5><br>
          
          {% if productinstance.cover_image %}

          <div>
            <img src="{{productinstance.cover_image.url}}" class="hyoushi_upload_preview" alt="broken cover image">
            <a href="{% url 'homepage:remove_hyoushi' %}"> <button class="btn btn-danger hyoushi_upload_delete"> 削除 </button> </a>
          </div>

          {% else %}

            <div class="row">
                
              <div class="col-lg-6">
                <p class="shooting-guide-title2-content"> イメージなし </p>
              </div>
              
              <div class="col-lg-6">
              
                <a href="{% url 'homepage:camera' 'hyoshi' %}"> <button class="btn btn-primary hyosat-cam-button"> <i class="fas fa-camera"></i> 表紙撮影カメラ </button> </a>
                <input type="file" name="hyosat-file-input" id="hyosat-file">

              </div>
            
            </div>

          {% endif %}
        </div>
      
      </div>

    </div>

    <div class="col-lg-5">

      <div class="warning-text-div">
        <h4 class="shooting-guide-title1 title-text">撮影案内</h4>

        <hr>
        
        {% if productinstance.barcode_image %}

          <p class="success-text">※バーコード写真 <i class="fa fa-check" aria-hidden="true"></i> </p>
        
        {% else %}
          
          <p class="warning-text">※バーコード写真を撮影してください </p>
        
        {% endif %}
  
        {% if productinstance.cover_image %}
          
          <p class="success-text">※表紙撮影写真 <i class="fa fa-check" aria-hidden="true"></i></p>

        {% else %}
        
          <p class="danger-text">※表紙撮影写真を撮影してください（必須）</p>
        
        {% endif %}

        {% if related_images %}
          <a href="#"><button class="home-skip-button">登録</button></a>
        {% else %}
          <a href="{% url 'homepage:register_check' %}"><button class="home-skip-button">画像チェック</button></a>
        {% endif %}
      
      </div>
      
      <hr style="margin-top: 5%;">

      <div class="similar-barcodes-block" style="margin-top: 10%;">
        <h4 class="title-text"> 似ているバーコード :</h4>

        {% if related_barcodes %}
          
          <div class="row">

            <div class="col-lg-12">

              {% if related_barcodes.0.barcode_image.url %}

                <img class="similar_barcodes" src="{{related_barcodes.0.barcode_image.url}}" alt="broken">

              {% else %}

                <div class="empty_similar_barcodes">
                  
                </div>
              
              {% endif %}

            </div>
            
          </div>
        {% else %}

          <p class="no-barcode-warning-text">バーコードなし</p>

        {% endif %}
      </div>

      <hr style="margin-top: 15%;">

      <div class="similar-images-block" style="margin-top: 10%;">
        <h4 class="title-text"> 似ている画像 :</h4>

        {% if related_images %}
          
          <div class="row">

            <div class="col-lg-4">
              <img class="similar_images" src="{{related_images.0.cover_image.url}}" alt="broken">
            </div>

            <div class="col-lg-4">
              {% if related_images.1.cover_image.url %}
                <img class="similar_images" src="{{related_images.1.cover_image.url}}" alt="broken">
              {% else %}
                <div class="empty_similar_image">
                </div>
              {% endif %}
            </div>

            <div class="col-lg-4">
              {% if related_images.2.cover_image.url %}
                <img  class="similar_images" src="{{related_images.2.cover_image.url}}" alt="broken">
              {% else %}
                <div class="empty_similar_image">
                </div>
              {% endif %}
            </div>
            
          </div>
        {% else %}

          <p class="no-image-warning-text">イメージなし</p>

        {% endif %}
      </div>

    </div>

</div>

{% endblock %}