<!DOCTYPE html>
{% extends "base_with_nav.html" %}
{% load static %}

{% block title %}

Homepage

{% endblock %}

{% block body %}

<div class="row-lg-12 homepage-content">
    
    <div class="col-lg-5">

      <div class="jumbotron">

        <h4 class="shooting-guide-title2">撮影した写真</h4>
        <hr>

        <div class="barcode_preview">
          <h5 class="shooting-guide-title2-header">バーコード撮影:</h5><br>
            
          {% if productinstance.barcode_image %}
          
            <div>
              <img src="{{productinstance.barcode_image.url}}" class="barcode_upload_preview" alt="broken barcode">
              <a href=" {% url 'homepage:remove_barcode' %} "> <button class="btn btn-danger barcode_upload_delete"> 削除 </button> </a>
            </div>
          
          {% else %}
          
            <div class="row">
              
              <div class="col-lg-6">
                <p class="shooting-guide-title2-content"> イメージなし </p>
              </div>
              
              <div class="col-lg-6">
              
                <a href=" {% url 'homepage:camera' 'barcode' %} "> <button class="btn btn-primary barcode-cam-button"> <i class="fas fa-camera"></i> バーコードカメラ </button> </a>
                <input type="file" name="barcode-image-input" id="barcode-file">
              
              </div>
            
            </div>
            
            
          {% endif %}
        
        </div>

        <br><hr><br>

        <div class="Hyoshi_satsuei_preview">
          
          <h5 class="shooting-guide-title2-header">表紙撮影:</h5><br>
          
          {% if productinstance.cover_image %}

          <div>
            <img src="{{productinstance.cover_image.url}}" class="hyoushi_upload_preview" alt="broken cover image">
            <a href="{% url 'homepage:remove_hyoushi' %}"> <button class="btn btn-danger hyoushi_upload_delete"> 削除 </button> </a>
          </div>

          {% else %}

            <div class="row">
                
              <div class="col-lg-6">
                <p class="shooting-guide-title2-content"> イメージなし </p>
              </div>
              
              <div class="col-lg-6">
              
                <a href="{% url 'homepage:camera' 'hyoshi' %}"> <button class="btn btn-primary hyosat-cam-button"> <i class="fas fa-camera"></i> 表紙撮影カメラ </button> </a>
                <input type="file" name="hyosat-file-input" id="hyosat-file">

              </div>
            
            </div>

          {% endif %}
        </div>
      
      </div>

    </div>

    <div class="col-lg-5">

      <div class="warning-text">
        <h4 class="shooting-guide-title1">撮影案内</h4>

        <hr>
        
        {% if productinstance.barcode_image %}

          <p class="success-text">※バーコード写真 <i class="fa fa-check" aria-hidden="true"></i> </p>
        
        {% else %}
          
          <p class="warning-text">※バーコード写真を撮影してください </p>
        
        {% endif %}
  
        {% if productinstance.cover_image %}
          
          <p class="success-text">※表紙撮影写真 <i class="fa fa-check" aria-hidden="true"></i></p>

        {% else %}
        
          <p class="warning-text">※表紙撮影写真を撮影してください（必須）</p>
        
        {% endif %}

        <a href="{% url 'image_processing:image_similarity' %}"><button class="home-skip-button">登録</button></a>
      
      </div>
      
      <hr style="margin-top: 20%;">

      <div class="similar-images" style="margin-top: 5%;">
        <h4> 似ている画像 :</h4>

        {% for imgs in similar_images %}
          <img src="{{productinstance.cover_image.url}}" alt="broken">

          <img src="{{productinstance.cover_image.url}}" alt="broken">
        {% empty %}

          <p class="warning-text">イメージなし</p>

        {% endfor %}
      </div>
    </div>


</div>





  <script>
    function sound() {
        var se = document.getElementById('demo_sound');
        se.play();
    }

    //カメラ用意
    var video = document.getElementById('camera');
    const se = document.querySelector('#se');
    
    // カメラ設定
    const constraints = {
      audio: false,
      video: {
        width: 600,
        height: 600,
        facingMode: "environment"   // フロントカメラを利用する⇒user
      }
    };
    
    //カメラを<video>と同期
    navigator.mediaDevices.getUserMedia(constraints)
    .then( (stream) => {
      video.srcObject = stream;
      video.onloadedmetadata = (e) => {
        video.play();  
      };
    })
    .catch( (err) => {
      console.log(err.name + ": " + err.message);
    });
    
    //カウンターファンクション
    var kaisu = 0;
    function counter() {
        var count = document.getElementById('count');
        var c = parseInt(count.value)
        if(c == 1){
          //Annnoyの類似画像出力の際にともに出力した撮影した写真を消す
          var hyoushi_img = document.getElementById('hyoushi_img');
          hyoushi_img.style.display ="none";
          count.value = ++c;
        }else{
          count.value = ++c;
        }
    }
    //撮影ファンクション
    function take_picture() {
        //videoのstreamをcanvasに書き出す方法
            var canvas = document.getElementById('canvas');
            var ctx = canvas.getContext('2d');
            //videoの縦幅横幅を取得
            var w = video.offsetWidth;
            var h = video.offsetHeight;
            canvas.setAttribute("width", w);
            canvas.setAttribute("height", h);
            ctx.drawImage(video, 0, 0, w, h);
    
        //canvasをimgに書き出し
        var img = document.getElementById('img_data');
        img.value = canvas.toDataURL('image/jpg');

            var w = 180;
            var h = 180;
            canvas.setAttribute("width", w);
            canvas.setAttribute("height", h);
            ctx.drawImage(video, 0, 0, w, h);

      }
</script>

{% endblock %}